* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 1300px) {
    #tube {
        margin-left: 84%;
    }
}

@media (max-width: 1220px) {

    #back {
        display: none;
    }

    #back2 {
        width: 100%;
        height: 100%;
        position: fixed;
        display: block;
    }

    #home #prva {
        display: none;
    }

    #home #druga {
        height: 210px;
        width: 170px;
        display: block;
    }

    #ntm {
        margin-top: 1350px;
    }

    #stih {
        margin-top: 1490px;
    }

    #stih p {
        color: white;
    }

    #issuu {
        margin-top: 1040px;
        margin-left: 38%;
    }

    #is {
        display: none;
    }

    #iss {
        display: block;
        height: 190px;
        width: 160px;
    }

    #instagram {
        margin-top: 690px;
        margin-left: 65%;
    }

    #tube {
        margin-top: 280px;
        margin-left: 55%;
    }

    #helly {
        margin-top: 780px;
    }

    #afirmator {
        margin-top: 520px;
    }
}

@media (max-width: 1060px) {

    #afirmator p {
        font-size: 40px;
    }

    #afirmator {
        margin-left: 22%;
    }

    #helly p {
        margin-left: 23%;
    }

    #helly {
        font-size: 40px;
        margin-left: 10%;
    }
}

@media (max-width: 1000px) {
    #instagram {
        margin-left: 82%;
    }
}